<h1 class="title">My Orders</h1>

<table class="table is-fullwidth">
<thead>
  <tr>
    <th>Order No.</th>
    <th>Order Total price</th>
    <th>Time</th>
    <th>State</th>
  </tr>
</thead>
<tbody>
  <% @orders.each do |order|%>
  <tr>
    <td><%= order.num %></td>
    <td><%= order.total_price %></td>
    <td><%= order.created_at %></td>
    <td><%= order.state %></td>
    <td>
      <%= link_to 'Pay', pay_order_path(order.num), class: 'button is-danger is-small' if order.may_pay? %>
      <%= link_to 'Cancel order', cancel_order_path(order.num), method:'put', data: {confirm:'Sure to delete this order?'}, class: 'button is-primary is-small' if order.may_cancel? %>
      <%= link_to 'Refund', '#', class: 'button is-info is-small' if order.delivered? && order.may_cancel? %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>