<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(book) do |form| %>
  <%= form.label :title, 'Title' %>
  <%= form.text_field :title %>

  <%= form.label :description, 'Content' %>
  <%= form.text_area :description %>

  <%= form.label :list_price, 'Price' %>
  <%= form.number_field :list_price %>

  <%= form.label :sell_price, 'Sell price' %>
  <%= form.number_field :sell_price %>

  <%= form.label :page_num, 'Page' %>
  <%= form.number_field :page_num %>

  <%= form.label :isbn, 'ISBN' %>
  <%= form.text_field :isbn %>

  <%= form.label :isbn13, 'ISBN-13' %>
  <%= form.text_field :isbn13 %>

  <%= form.submit %>
<% end %>
