<!DOCTYPE html>
<html>

<head>
  <title>DecmoBookstore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'braintree', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/frontend/nav' %>
  <section class="section">
    <div class="container">
      <%= render 'shared/flash' if notice %>
      <section class="columns is-fullheight">
        <div class="column is-2">
          <%= render 'shared/frontend/menu', publishers: Publisher.available, categories: Category.all %>
        </div>
        <div class="column is-8">
          <%= yield %>
        </div>
      </section>
    </div>
  </section>
</body>

</html>